@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

header {
    width: 100%;
    margin: auto;
    height: auto;
}

.hero {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.699) 0%, rgba(0, 0, 0, 0.692) 100%), url("../img/header.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.Redes {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    text-align: center;
    align-items: center;


}

.Redes a {
    color: #0000004d;
    margin: 10px;
    transition: transform 0.6s;
}
.Redes a img{
    border-radius: 100%;
}

.Redes a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.textos-hero {
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1 {
    color: #fff;
    font-weight: 900;
    font-size: 200px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

span {
    color: #8a8a8a;
}

.textos-hero p {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
}

ul:last-child {
    background: transparent;
    padding: .25rem .75rem;
    border-radius: .5rem;
}

.menu__icon {
    display: none;
    margin-top: 10px;
    
}

.menu__icon img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

#check {
    display: none;
}

li {
    border-radius: 8px;
    background: #ffffff46;
    padding: 12px 15px;
    list-style-type: none;
    transform: scale(1);
    transition: transform 0.6s;
    margin: 10px;
}

li a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

li:hover {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.2);
    cursor: pointer;
}



/* Estilos generales */

.separador{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.musica {
    background-image:  url(../img/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.video1 .ytb { 
    margin: 10px;
    margin-top: 50px;
    text-align: center;
    border-radius: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(253, 253, 253, 0.75);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
}

.cont_text {
    color: #ffffff;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont_text h2 {
    color:#ffffff;
    font-size: 50px;
    font-weight: 800;
    margin-top: 25px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}



/* Section */


.cta {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    background: #ffffff46;
    padding: 12px 15px;
    list-style-type: none;
    transform: scale(1);
    transition: transform 0.6s;
    margin: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.cta:hover {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.2);
    cursor: pointer;
}

/* Info */

.info {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.info blockquote{
    width: 45%;
    border-radius: 50px;
}

.info h2 {
    color: white;
    font-size: 60px;
    padding: 15px;
    width: 100%;
}


/* Cards */
.Music{
    width: 100%;
    height: auto;
}
.cards-contenedor {
    background-image: url(../img/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.cards-contenedor h2 {
    color: #ffffff;
    width: 100%;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    padding: 50px;
}

.content-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.card {
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    height: 380px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.card iframe{
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(253, 253, 253, 0.75);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
}

/* galeria */
.cont_galeria {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.titulog {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    padding: 50px;
    color: #ffffff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

.info2 {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    height: auto;
    color: #fff;
}

.info2 .contenedor2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.title_info a{
    margin: 0;
}
.title_info a img{
    border-radius: 100%;
    transition: transform 0.6s;
    margin: 10px;
}
.title_info h3{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}
.title_info p{
    margin-top: 1px;
    margin-bottom: 50px;
    font-size: 30px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
    
}
.title_info img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.chistes{
    width: 100%;
}
.chistes iframe{
    border-radius: 50px;
    box-shadow: 0px 0px 27px -1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 27px -1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 27px -1px rgba(255, 255, 255, 0.75);
}
.title_info h2 {
    width: 100%;
    font-size: 60px;
    padding: 50px 0px 20px 0px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}
.title_info{
    width: 100%;
}

.galeria {
    background-image: url(../img/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    width: 100%;
    height: auto;
}

.galeria-cont {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;

    
}
.galfot{
    border-radius: 20px;
    width:32%;
    height: 350px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.galeria-cont img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.6s;
}

img:hover {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    transform: scale(1.03);
}

/* info2 */
.info3{
    width: 100%;
    height: auto;
    margin: auto;
}
.info3{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    height: auto;
}
.radio {
text-align: center;
}
.radio iframe{
    border-radius: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
}
.tradio h5{
    width: 100%;
    text-align: center;
    font-size: 75px;
    color: #ffffff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}
#sobremi{
    width: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.info-last {
    background-image: url(../img/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}
.imgsobre{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.info-last h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
}
.info-last p{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    width: 40%;
    margin-bottom: 50px;
}


/* footer */

footer {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
    margin: auto;
    width: 100%;
}

.cont_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 90%;
    margin: auto;
}

.cont_form h2 {
    padding: 30px;
    width: 90%;
    font-size: 40px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    background: rgba(255, 255, 255, 0.144);
    border: 0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}

.input::placeholder {
    color: #fff;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea {
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover {
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.copy {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.wtp {
    position: fixed;
    bottom: 3%;
    right: 5%;
    transition: 2s ease;
}
.wtp a img{
    border-radius: 100%;
}
@media screen and (max-width:1573px){
    .video1 iframe{
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width:1050px) {
    .info2 .contenedor2{
        flex-direction: column;
    }
    .chistes{
        margin-bottom: 25px;
    }
    .textos-hero h1 {
        font-size: 105px;
    }

.info .contenedor {
    flex-direction: column;
}

.musica {
    flex-direction: column;
    align-items: center;
}
svg{
    display: none;
}
}

@media screen and (max-width:800px) {
    .Redes {
        margin-top: 50px;
        justify-content: center;
    }

    .Redes img {
        width: 50px;
        height: 50px;
    }

    .checkbtn {
        display: block;
    }

    .menu__icon {
        display: block;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: transform 0.6s;
    }

    .menu__icon :hover {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        transform: scale(1.2);
        cursor: pointer;
    }

    .menu__icon img {
        width: 50px;
        height: 50px;
    }

    ul {
        display: block;
        position: relative;
        top: 15px;
        left: -100%;
        background: #3d393bea;
        width: 90%;
        height: auto;
        right: 0;
        border-radius: 0px 0px 10px 0px;
    }

    li {
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin: 5px;
        font-size: 20px;
        font-weight: 700;
    }

    #check:checked~ul {
        left: 0;
        transition: all .25s;
    }

    .textos-hero h1 {
        text-align: center;
        font-size: 60px;
    }

    /* estilos generales */
    .musica {
        text-align: center;
        width: 100%;
    }

    .musica .video1 {
        width: 90%;
    }

    .musica .video1 iframe {
        width: 100%;
        height: 350px;
    }

    .cont_text p {
        width: 90%;
    }

    .cont_text h2 {
        width: 90%;
    }
    .content-cards{
        justify-content: space-around;
    }
    .cards-contenedor h2 {
        font-size: 60px;
        width: 90%;
        margin-bottom: -15px;
    }
    .card{
        margin-top: 100px;
    }

    /* section */

.info h2 {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.info blockquote {
    width: 90%;
}

.info2 .contenedor2 h2 {
    margin: auto;
    text-align: center;
    font-size: 45px;
    width: 90%;
}
.info2 .contenedor2 h3{
    width: 90%;
}
.chistes iframe{
    width: 100%;
}
.chistes{
    width: 95%;
}
.info2 .contenedor p {
    font-size: 30px;
    font-weight: 700;
}

.titulog {
    font-size: 35px;
    width: 90%;
}

.cont_galeria {
    width: 100%;
}

.galeria-cont {
    width: 100%;
    flex-direction: column;
    height: auto;
}
.galfot{
    margin: auto;
    height: 350px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
}
.cont_galeria .galeria-cont img {
    width: cover;
    
}

/* Cards */

.card {
    width: 80%;
    margin-bottom: 20px;
}

/* galeria */

.galeria-cont>img {
    width: 48%;
}
.radio iframe{
    width: 100%;
}
.tradio h5{
    font-size: 55px;
}
/* last */

.last-section img {
    width: 98%;
}

.last-section .contenedor-textos-main {
    width: 98%;
    margin-bottom: 20px;
}
.info-last h3{
    font-size: 30px;
}
.info-last p{
    font-size: 20px;
    width: 90%;

}

}